<div class="statistic">

<div class="container">
<div>
  <button class="btn btn btn-primary mr-1" value='Search' (click)="navigateToSearch()">Search</button>
  <button class="btn btn btn-warning" value='Statics' (click)="navigateToStatistics()">Statistics</button>
</div>
<table class="statistic" id="airlines">
  <th>Statistics</th>
  <th>StatisticData</th>
  <tr>
    <td>RequestCount</td>
    <td>
      {{0}}
    </td>
  </tr>
  
  <tr>
    
    <td>Request200Count</td>
    <td>
      {{0}}
    </td>
  </tr>
  
  <tr>
<td>Request4XXCount</td>
    <td>
      {{0}}
    </td>
  </tr>
  
  <tr>
<td>Request5XXCount</td>
    <td>
      {{0}}
    </td>
  </tr>
  
  <tr>
<td>TotalResponseTimeMillis</td>
    <td>
      {{9223372036854776000}}
    </td>
  </tr>
  
  <tr>
<td>AvgResponseTimeMillis</td>
    <td>
      {{9223372036854776000}}
    </td>
  </tr>

  <tr>
    <td>MinResponseTimeMillis</td>
    <td>
      {{9223372036854776000}}
    </td>
  </tr>
  <tr>
    <td>MaxResponseTimeMillis</td>
    <td>
      {{9223372036854776000}}
    </td>
  </tr>

</table>
</div>
</div>
